mixin header
    doctype html
    html
        head
            meta(content='text/html; charset=utf-8' http-equiv='Content-Type')
            meta(name='viewport' content='width=device-width')

mixin style
    style(type='text/css').
        body {
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust: none;
            font-weight: 400;
            margin: 0;
            padding: 0;
        }

        table {
            border-spacing: 0;
            border-collapse: separate;
            table-layout: fixed;
        }

        td {
            font-size: 16px;
            padding: 0;
            font-family: Helvetica, Arial, sans-serif;
            color: #818181;
            padding: 30px;
        }

        a {
            border: none;
            outline: none !important;
        }

        .action {
            background-color: #f2f2f2;
            border: 1px solid #c1c1c1;
            width: 200px;
            text-align: center;
            padding: 20px;
            font-weight: bold;
            display: inline-block
        }

mixin footer
    table
        tr
            td
                p
                    a Follow us on
                    | &nbsp;
                    a(href='https://www.facebook.com/iXledger/') Facebook,
                    | &nbsp;
                    a(href='https://twitter.com/iXledger') Twitter or
                    | &nbsp;
                    a(href='https://www.linkedin.com/company/insurex-technologies/') LinkedIn

                p
                    Warnford Court, 29 Throgmorton Street, London EC2N 2AT

mixin content
    table
        tr
            td
                block
mixin text(content)
    p=content

mixin text-action(content)
    block("class='action-wrapper'")
        div("class='action'")=content

mixin link(name, url)
    a(href=url target='_blank') #{name}